<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Movilidad Académica</title>
</head>
<body>

<h1>Sistema de Movilidad Académica</h1>

<h2>Formulario de Consulta</h2>

<form method="POST">

    <label>Nombre:</label>
    <input type="text" name="nombre">

    <br><br>

    <label>Registro:</label>
    <input type="text" name="registro">

    <br><br>

    <label>Carrera:</label>

    <select name="carrera">

        <option value="software">
            Ingeniería de Software
        </option>

    </select>
    <br><br>

    <label>Semestre:</label>

    <select name="semestre">

        <option value="">
            Todos
        </option>

        {% for semestre in semestres %}

        <option
            value="{{ semestre }}"

            {% if semestre == semestre_seleccionado %}
                selected
            {% endif %}
        >
            {{ semestre }}
        </option>

        {% endfor %}

    </select>

    <br><br>

    <button type="submit">
        Buscar
    </button>

</form>

<hr>

<h2>Resultados</h2>

<table border="1">

    <tr>
        <th>Semestre</th>
        <th>Materia UAG</th>
        <th>Universidad</th>
        <th>Materia Equivalente</th>
    </tr>

    {% for r in registros %}

    <tr>
        <td>{{ r.semestre }}</td>
        <td>{{ r.materia_uag }}</td>
        <td>{{ r.universidad }}</td>
        <td>{{ r.materia_equivalente }}</td>
    </tr>

    {% endfor %}

</table>

</body>
</html>